# ignore everything
*

# whitelist what we don't want to ignore
!.gitignore
!README.md
!.zshrc
!.custom/
!.custom/**
.custom/configs/anime-tracker/covers
.custom/configs/anime-tracker/composited
!.config/
!.config/vicinae/
!.config/vicinae/**
!.config/hypr/
!.config/hypr/**
!.config/ghostty/
!.config/ghostty/**
!.config/mako/
!.config/mako/config
!.local/
!.local/share/
!.local/share/vicinae/
!.local/share/vicinae/themes/
!.local/share/vicinae/themes/**